:root {
    --el-color-primary: #00A2B7 !important;
    --el-color-secondary: #FF9533 !important;
    --el-color-info: #16A34A !important;
    --el-color-gray: #c4c4c4 !important;

    --el-color-danger: rgb(239, 74, 74) !important;
    --el-color-danger-light-3: rgba(239, 74, 74, 0.7) !important;

}